<div fxLayout="column">
<div fxFlexAlign="center">
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field>
        <input matInput placeholder="Where?">
    </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="checkin" placeholder="Check in date">
            <mat-datepicker-toggle matSuffix [for]="checkin"></mat-datepicker-toggle>
            <mat-datepicker #checkin></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="checkout" placeholder="Check out date">
            <mat-datepicker-toggle matSuffix [for]="checkout"></mat-datepicker-toggle>
            <mat-datepicker #checkout></mat-datepicker>
        </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Number of rooms | guests">
            <mat-option>1 guest | 1 room</mat-option>
            <mat-option>2 guest | 1 room</mat-option>
            <mat-option>2 guest | 2 room</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary">Search</button>
</div>

</div>
  <div fxLayout="row">
    <mat-card fxFlexAlign="start" fxFlex="30">
      <mat-card-title>Filter by</mat-card-title>
      <section fxLayout="column" class="top-bottom-margin">
        <div>Guest rating by category</div>
        <mat-checkbox>Value for money</mat-checkbox>
        <mat-checkbox>Excellent service</mat-checkbox>
        <mat-checkbox>Excellent location</mat-checkbox>
      </section>

      <section class="top-bottom-margin">
        <div>Acommodation class</div>
        <mat-radio-group fxLayout="column">
          <mat-radio-button value="1">Budget</mat-radio-button>
          <mat-radio-button value="2">Luxary</mat-radio-button>
        </mat-radio-group>
      </section>
      
      <section fxLayout="column" class="top-bottom-margin">
          <div>Room offers</div>
          <mat-checkbox>Breakfast included</mat-checkbox>
          <mat-checkbox>Airport transfer</mat-checkbox>
          <mat-checkbox>Early check-in</mat-checkbox>
          <mat-checkbox>Late check-out</mat-checkbox>
        </section>
    </mat-card>
    <div fxLayout="column" fxFlex="70">
      <mat-card *ngFor="let hotel of hotels$ | async">
        <mat-card-header>
          <mat-card-title routerLink="/hotel-details">Hotel {{hotel.name}} </mat-card-title>
          <mat-card-subtitle>Rating</mat-card-subtitle>
        </mat-card-header>
        <img src="." alt="Photo of hotel {{hotel.name}}">
        <mat-card-content>
          Review
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="bookHotel(hotel)"> Book Hotel {{hotel.name}} </button>
        </mat-card-actions>
      </mat-card>
      <button mat-button (click)="loadMoreHotels()">Load more hotels</button>
    </div>
  </div>
</div>

<!-- <button (click)="createHotels()">Create Hotel</button> -->