mat-card {
    margin: 0% 2% 2% 2%;
    background-image: linear-gradient(to right, rgb(211, 240, 250), rgb(247, 241, 241));
}

.pointer {
    cursor: pointer;
}

.search-bar {
    margin-bottom: 3%;
}

.container {
    background-image: linear-gradient(to right, rgb(212, 229, 235), rgb(255, 255, 255));
    height: 100%;
    padding-top: 3%;
}

.no-margin {
    margin: 0%;
}