<div fxLayout="column">
  <div fxFlexAlign="center">
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field floatLabel="never">
        <input matInput placeholder="From ?">
      </mat-form-field>
      <mat-form-field floatLabel="never">
        <input matInput placeholder="To ?">
      </mat-form-field>
      <mat-form-field floatLabel="never">
        <input matInput [matDatepicker]="date" placeholder="Date">
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
      </mat-form-field>
      <button mat-icon-button>
        <mat-icon aria-label="search icon-button">search</mat-icon>
      </button>
    </div>

  </div>
  <div fxLayout="row">
    <mat-card fxFlexAlign="start" fxFlex="30">
      <mat-card-title>Filter by</mat-card-title>
      <section fxLayout="column" class="top-bottom-margin">
        <div>Guest rating by category</div>
        <mat-checkbox>Value for money</mat-checkbox>
        <mat-checkbox>Excellent service</mat-checkbox>
        <mat-checkbox>Excellent location</mat-checkbox>
      </section>

      <section class="top-bottom-margin">
        <div>Acommodation class</div>
        <mat-radio-group fxLayout="column">
          <mat-radio-button value="1">Budget</mat-radio-button>
          <mat-radio-button value="2">Luxary</mat-radio-button>
        </mat-radio-group>
      </section>

      <section fxLayout="column" class="top-bottom-margin">
        <div>Room offers</div>
        <mat-checkbox>Breakfast included</mat-checkbox>
        <mat-checkbox>Airport transfer</mat-checkbox>
        <mat-checkbox>Early check-in</mat-checkbox>
        <mat-checkbox>Late check-out</mat-checkbox>
      </section>
    </mat-card>
    <div fxLayout="column" fxFlex="70">
      <mat-card *ngFor="let tour of tours">
        <mat-card-header>
          <mat-card-title [routerLink]="['/tour-details', tour._id]" class="pointer"  >{{tour.name}} </mat-card-title>
          <mat-card-subtitle>Rating</mat-card-subtitle>
          <mat-card-content>
            <p>
              {{tour.rating}} stars
            </p>
            <p>
              {{tour.price}} $
            </p>
          </mat-card-content>
        </mat-card-header>
        <img src="." alt="Photo of tour {{tour.name}}">
        <mat-card-content>
          Review
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="bookTour(tour)"> Book Tour {{tour.name}} </button>
        </mat-card-actions>
      </mat-card>
      <button mat-button (click)="loadMoreTours()">Load more tours</button>

    </div>
  </div>
</div>

<!-- <button mat-button (click)="addTour()">Create Tour</button> -->