<form fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="center center" 
fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center " class="search-bar"
ngClass.lt-sm="margin-2">

    <mat-form-field appearance="fill" >
        <mat-label>from where?</mat-label>
        <mat-select [(ngModel)]="from" name="fromPlace">
            <mat-option *ngFor="let fromPlace of fromWhere" [value]="fromPlace.value">
                {{fromPlace.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" >
        <mat-label>to where?</mat-label>
        <mat-select [(ngModel)]="to" name="toPlace">
            <mat-option *ngFor="let toPlace of toWhere" [value]="toPlace.value">
                {{toPlace.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>choose your date</mat-label>
        <!-- toggle datepicker on focus -->
        <input matInput #dateinput [matDatepicker]="datepicker" [(ngModel)]="date" name="ofDate" (focus)="datepicker.open()">
        <mat-datepicker-toggle matPrefix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker (closed)="dateinput.blur()"></mat-datepicker>
        <button mat-button matSuffix mat-icon-button fxHide.lt-sm="true">
            <mat-icon aria-label="search icon-button" (click)="searchTour(from, to, date)">search</mat-icon>
        </button>
    </mat-form-field>

    <button mat-raised-button fxHide.gt-xs="true" (click)="searchTour(from, to, date)" >
        Search
    </button>

</form>