<form fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
    <mat-form-field floatLabel="never">
        <mat-select placeholder="from where?" [(ngModel)]="from" name="fromPlace">
            <mat-option *ngFor="let fromPlace of fromWhere" [value]="fromPlace.value">
                {{fromPlace.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field floatLabel="never">
        <mat-select placeholder="to where?"  [(ngModel)]="to" name="toPlace">
            <mat-option *ngFor="let toPlace of toWhere" [value]="toPlace.value">
                {{toPlace.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field floatLabel="never">
        <input matInput [matDatepicker]="datepicker" 
        placeholder="choose your date" 
        [(ngModel)]="date" 
        name="ofDate">
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>

    <div>
        <button mat-icon-button fxHide.lt-md="true">
            <mat-icon aria-label="search icon-button" (click)="searchTour(from, to, date)">search</mat-icon>
        </button>
        <button mat-button fxHide.gt-sm="true">
            Search
        </button>
    </div>
</form>