<form fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign="center">

    <mat-form-field appearance="fill">
        <mat-label>from where?</mat-label>
        <mat-select [(ngModel)]="from" name="fromPlace">
            <mat-option *ngFor="let fromPlace of fromWhere" [value]="fromPlace.value">
                {{fromPlace.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" >
        <mat-label>to where?</mat-label>
        <mat-select [(ngModel)]="to" name="toPlace">
            <mat-option *ngFor="let toPlace of toWhere" [value]="toPlace.value">
                {{toPlace.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>choose your date</mat-label>
        <input matInput [matDatepicker]="datepicker" [(ngModel)]="date" name="ofDate">
        <mat-datepicker-toggle matPrefix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
        <button mat-button matSuffix mat-icon-button fxHide.lt-md="true">
            <mat-icon aria-label="search icon-button" (click)="searchTour(from, to, date)">search</mat-icon>
        </button>
    </mat-form-field>

    <button mat-button fxHide.gt-sm="true" (click)="searchTour(from, to, date)">
        Search
    </button>

</form>