.margin-1 {
    margin: 1%;
}

.margin-2 {
    margin: 2%;
}

.transparent-80 {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.main-page {
    /* background: url(./../../assets/cover.jpeg); */
    /* background-size: cover; */
    min-height: 100%; /*full height image => with fxFlex*/
}

.pointer{
    cursor: pointer;
}
