<form fxLayout="column" fxLayoutAlign="center center"  [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="signin-form">

  <mat-card fxLayout="column" fxLayoutAlign="center center" class="signin">
    <a routerLink="/"  class="title">Letsgo123</a>
    <h2>Signin</h2>

    <mat-form-field>
      <input matInput type="text" placeholder="Email" formControlName="email">
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="signinForm.get('email').invalid && (signinForm.get('email').dirty || signinForm.get('email').touched)">Invalid email</mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput type="text" placeholder="Password" formControlName="password">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="signinForm.get('password').invalid && (signinForm.get('password').dirty || signinForm.get('password').touched)">Password required (at least 6 characters)</mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit">Sign in</button>
    <a routerLink="/signup">Sign up instead</a>
  </mat-card>

  <a routerLink="." >Forgot password</a>

</form>