.margin-2 {
    margin: 2%;
}

.pointer {
    cursor: pointer;
}

img {
    width: 200px;
    height: 200px;
}

.search-bar {
    margin-bottom: 3%;
}

.margin-bottom-2 {
    margin-bottom: 2%;
}

.margin-top-2 {
    margin-top: 2%;
}

.container {
    background-image: linear-gradient(to right, rgb(144, 208, 230), rgb(243, 236, 236));
    height: 100%;
    padding-top: 3%;
    padding-left: 1%;
}