<div fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field floatLabel="never">
        <input matInput placeholder="From ?">
    </mat-form-field>
    <mat-form-field floatLabel="never">
        <input matInput placeholder="To ?">
    </mat-form-field>
    <mat-form-field floatLabel="never">
        <input matInput [matDatepicker]="date" placeholder="Date">
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
    </mat-form-field>
    <button mat-icon-button>
        <mat-icon aria-label="search icon-button">search</mat-icon>
    </button>
</div>

<h1>Tour {{selectedTour.name}}</h1>
<h2>{{selectedTour.tourType}}</h2>
<h3>Price: {{selectedTour.price}} $</h3>
<h3>Rating: {{selectedTour.rating}}</h3>

<ul *ngFor="let place of selectedTour.journey ; let i = index">
    <li>
        Day {{i+1}} {{place.formattedDate}} | {{place.city}}
    </li>
    <div>
        Info {{i+1}}
    </div>
</ul>