.margin-2 {
    margin: 2%;
}

.pointer {
    cursor: pointer;
}

img {
    width: 200px;
    height: 200px;
}

.search-bar {
    margin-bottom: 3%;
}

.container {
    background-image: linear-gradient(to right, rgb(82, 196, 235), rgb(243, 236, 236));
    height: 100%;
    padding-top: 3%;
}