<div fxLayout="column" class="container">
    <div class="search-bar">
        <app-search></app-search>
    </div>

    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="space-between start" fxLayoutAlign.lt-md="none none">
        <div fxFlex.gt-sm="66" fxFlex.lt-sm  class="margin-bottom-4">
            <div>
                <h1> {{selectedTour.name}} | {{selectedTour.price}} $ </h1>
                <div> {{selectedTour.tourType}}</div>
                <div> Rating: {{selectedTour.rating}} <mat-icon>star_rate</mat-icon>
                </div>
                <div> Available seats: {{selectedTour.availableSeats}} </div>
            </div>
            <div>
                <img src="{{selectedTour.imageUrl}}" alt="image" class="margin-bottom-2">
                <mat-accordion multi="true" class="margin-bottom-2">
                    <mat-expansion-panel *ngFor="let place of selectedTour.journey ; let i = index" class="tour-info">
                        <mat-expansion-panel-header>
                            Day {{i+1}} | {{place.city}} | {{place.date | date: 'EEE dd MMM yyyy'}}
                        </mat-expansion-panel-header>
                        <p>
                            Info {{i+1}}
                        </p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="margin-bottom-2 margin-top-2">
                <button mat-raised-button (click)="bookTour(selectedTour)">Book this tour</button>
            </div>
            <div>
                <div>
                    Tour price includes:
                </div>
                <p>...</p>
                <p>...</p>
            </div>
            <div>
                <div>
                    Tour price does not include:
                </div>
                <p>...</p>
                <p>...</p>
            </div>
            <div>
                <div>
                    Cancelation policies:
                </div>
                <p>...</p>
                <p>...</p>
            </div>
            <div>
                <div>
                    Other info:
                </div>
                <p>...</p>
                <p>...</p>
            </div>

        </div>

        <div fxFlex.gt-sm="33" fxFlex.lt-sm  class="margin-bottom-4">
            <div>
                <h2>
                    Other tours
                </h2>
            </div>
            <div>
                <div *ngFor="let tour of similarTours" class="margin-2">
                    <mat-card class="tour-info">
                        <mat-card-header class="pointer" (click)="viewTour(tour)" >
                            {{tour.name}}
                        </mat-card-header>
                        <mat-card-content>
                            {{tour.tourType }} | {{tour.rating}} <mat-icon>star_rate</mat-icon> | {{tour.price}} $
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>