<div>
  <input type="text" placeholder="Search by places">
  <button>Search</button>
</div>
<hr>
<div>All Hotels</div>
<ul *ngFor="let hotel of hotels; let i = index">
  <li>Hotel{{hotel.name}} | {{ hotel.address.city }}, {{hotel.address.country}}</li> 
  <button (click)="bookHotel(hotel)"> Book Hotel{{hotel.name}} </button>
</ul>

<hr>

<div>All Bookings</div>
<ul *ngFor="let booking of bookings$ | async"> 
  <li>{{booking.hotel.name}} | {{booking.hotel.rating}}</li>
</ul>

<button routerLink="/booking">Check booking</button>
