<div>
  <input type="text" placeholder="Search by places">
  <button>Search</button>
</div>
<hr>
<div class="all-bookings">
  <div>
    <div>All Hotels</div>
    <ul *ngFor="let hotel of hotels$ | async">
      <li>Hotel {{hotel.name}} | {{ hotel.address.city }}, {{hotel.address.country}}</li> 
      <button (click)="bookHotel(hotel)"> Book Hotel{{hotel.name}} </button>
    </ul>
    <button (click)="loadMoreHotels()">Load more hotels</button>
  </div>
  
  <div>
    <div>All Bookings</div>
    <ul *ngFor="let booking of bookings$ | async"> 
      <li>{{booking.hotel.name}} | {{booking.hotel.rating}}</li>
    </ul>
  </div>

</div>

<!-- <button (click)="createHotels()">Create Hotel</button> -->

<button routerLink="/booking">Check booking</button>
