<div fxLayout="row" fxLayoutAlign="center center">
  <mat-form-field>
      <input matInput placeholder="Where?">
  </mat-form-field>
      <mat-form-field>
          <input matInput [matDatepicker]="checkin" placeholder="Check in date">
          <mat-datepicker-toggle matSuffix [for]="checkin"></mat-datepicker-toggle>
          <mat-datepicker #checkin></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
          <input matInput [matDatepicker]="checkout" placeholder="Check out date">
          <mat-datepicker-toggle matSuffix [for]="checkout"></mat-datepicker-toggle>
          <mat-datepicker #checkout></mat-datepicker>
      </mat-form-field>
  <mat-form-field>
      <mat-select placeholder="Number of rooms | guests">
          <mat-option>1 guest | 1 room</mat-option>
          <mat-option>2 guest | 1 room</mat-option>
          <mat-option>2 guest | 2 room</mat-option>
      </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary">Search</button>
</div>

<div>
  <div>Pics</div>
  <div>Tour info</div>
  <div>Similar tours</div>
</div>
