<div class="main-page">

    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field floatLabel="never">
            <input matInput placeholder="From ?">
        </mat-form-field>
        <mat-form-field floatLabel="never">
            <input matInput placeholder="To ?">
        </mat-form-field>
        <mat-form-field floatLabel="never">
            <input matInput [matDatepicker]="date" placeholder="Date">
            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>
        </mat-form-field>
        <button mat-icon-button>
            <mat-icon aria-label="search icon-button">search</mat-icon>
        </button>
    </div>

    <div fxLayout="column" class="popular-destinations">
        <p fxFlexAlign="center">Popular destinations</p>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <mat-card routerLink="/tour">
                Ho Chi Minh
            </mat-card>

            <mat-card routerLink="/tour">
                Da Nang
            </mat-card>

            <mat-card routerLink="/tour">
                Can Tho
            </mat-card>
        </div>
    </div>
</div>