<div class="main-page">

    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field floatLabel="never">
            <input matInput placeholder="From ?">
        </mat-form-field>
        <mat-form-field floatLabel="never">
            <input matInput placeholder="To ?">
        </mat-form-field>
        <mat-form-field floatLabel="never">
            <input matInput [matDatepicker]="date" placeholder="Date">
            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>
        </mat-form-field>
        <button mat-icon-button>
            <mat-icon aria-label="search icon-button">search</mat-icon>
        </button>
    </div>

    <ul *ngFor="let destination of popularPlaces">
        <li> {{destination}}</li>
    </ul>

    <!-- <div fxLayout="column" class="popular-destinations">
        <p fxFlexAlign="center">Popular destinations</p>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <mat-card >
                Ho Chi Minh
                <mat-card-actions>
                    <button (click)="findTourByAddress('Ho Chi Minh City')">Find tour by address</button>
                </mat-card-actions>
            </mat-card>

            <mat-card >
                Da Nang
                <mat-card-actions>
                    <button (click)="findTourByAddress('Da Nang')">Find tour by address</button>
                </mat-card-actions>
            </mat-card>

            <mat-card >
                Can Tho
                <mat-card-actions>
                    <button (click)="findTourByAddress('Can Tho')">Find tour by address</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <button (click)="findTourByAddress('Can Tho')">Find tour by address</button>
    <button mat-raised-button (click)="getPopularPlaces()">getPopularCities</button> -->
</div>