.margin-1 {
    margin: 1%;
}

.margin-2 {
    margin: 2%;
}

.transparent-75 {
    opacity: 0.75;
    filter: alpha(opacity=75); /* For IE8 and earlier */
}

.main-page {
    background: url(./../../assets/cover.jpeg);
    background-size: cover;
}