.header {
    padding: 0.5%;
    background-color: rgb(236, 146, 7);
    color: rgb(255, 255, 255);
}

.margin-1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.subtitle {
    font-weight: bold;
}

.title {
    font-size: 1.2em;
}