.margin-2 {
    margin: 1% 2% 2% 2%;
}

.padding-2 {
    padding: 2%;
}

.filter-bar {
    padding-left: 3%;
}

.filter-area {
    background-image: linear-gradient(to bottom, rgb(212, 234, 248), rgb(239, 247, 253));
    margin-bottom: 6%;
}

