.margin-2 {
    margin: 1% 2% 2% 2%;
}

.padding-2 {
    padding: 2%;
}

.filter-bar {
    padding-left: 3%;
}

.filter-area {
    background-image: linear-gradient(to bottom, rgb(174, 223, 253), rgb(167, 177, 185));
    margin-bottom: 6%;
}

