.margin-2 {
    margin: 1% 2% 2% 2%;
}

.padding-2 {
    padding: 2%;
}

.filter-bar {
    padding: 0% 0% 3% 3%;
}

.filter-area {
    /* background-image: linear-gradient(to right, rgb(137, 217, 241), rgb(233, 250, 255)); */
    margin-bottom: 6%;
}

.title {
    background-color: rgb(252, 220, 160);
}

