<mat-sidenav-container hasBackdrop="true">
    <mat-sidenav #sidenav mode="push">
        <div>
            Menu item 1
        </div>
        <div>
            Menu item 2
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-button (click)="sidenav.toggle()">Menu</button>
                <button mat-button routerLink="/"> letsgo123.xyz </button>
                <button mat-button routerLink="/tour"> Explore </button>
                <button mat-button> Today's deal </button>
            </div>
                        
            <div fxLayout="row" fxLayoutAlign="end center">
                <button mat-button routerLink="/booking"> Check bookings </button>
            </div>

            <div fxLayout="row" fxLayoutAlign="end center" *ngIf="!(isAuthenticated$ | async)">
                <button mat-button routerLink="/signin"> Sign in </button>
                <button mat-button routerLink="/signup"> Create account </button>
            </div>
            
            <div fxLayout="row" fxLayoutAlign="end center" *ngIf="isAuthenticated$ | async">
                <button mat-button routerLink="/user"> User page </button>
                <button mat-button (click)="onSignout()"> Sign out </button>
            </div>
        </mat-toolbar>

        <router-outlet></router-outlet>

        <div fxLayout="row" fxLayoutAlign="space-around " class="footer">
            <ul>
                <li>Contact us</li>
                <li>FAQs</li>
                <li>Terms of use</li>
            </ul>
            <ul>
                <li>About us</li>
                <li>Blog</li>
                <li>Terms of use</li>
            </ul>
            <ul>
                <li>Partner with us</li>
                <li>Career</li>
            </ul>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>