.header, .footer {
    background-color: rgb(165, 243, 93);
}

.header {
    position: fixed;
    top: 0;
    z-index: 1000;
}

.footer {
    z-index: 1000;
}

mat-sidenav-container{
    height: 100vh;
}

main {
    margin-top: 64px;
}