<mat-sidenav-container hasBackdrop="true">
    <mat-sidenav #sidenav mode="push">
        <div>
            Menu item 1
        </div>
        <div>
            Menu item 2
        </div>
    </mat-sidenav>

    <mat-sidenav-content fxLayout="column" fxLayoutAlign="space-between none">
        
        <app-header></app-header>

        <!-- for full page layout -->
        <main fxFlex>
            <router-outlet></router-outlet>
        </main>

        <app-footer></app-footer>

    </mat-sidenav-content>
</mat-sidenav-container>