<mat-sidenav-container hasBackdrop="true">
    <mat-sidenav #sidenav mode="push">
        <app-header fxHide.gt-sm="true"></app-header>
    </mat-sidenav>

    <mat-sidenav-content fxLayout="column" fxLayoutAlign="space-between none">
        <mat-toolbar fxLayout="row" fxHide.gt-sm="true" fxLayoutAlign="start center">
            <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
            <button mat-button routerLink="/"> letsgo123.xyz </button>
        </mat-toolbar>

        <app-header fxHide.lt-md="true"></app-header>

        <!-- for full page layout -->
        <main fxFlex>
            <router-outlet></router-outlet>
        </main>

        <app-footer></app-footer>

    </mat-sidenav-content>
</mat-sidenav-container>