<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxLayout="column">
    <h1>
      All Bookings
    </h1>
    <ul *ngFor="let booking of bookings ; let i = index">
      <li>{{booking.tour.name}} | {{booking.tour.rating}} | {{booking.tour.price}} $ </li>
      <button mat-button (click)="removeTour(i)">Cancel this booking</button>
    </ul>
  </div>

  <div fxLayout="column">
    <h1>
      Payment process
    </h1>
    <p>
      Amount: {{amount}} $
    </p>
    <button mat-raised-button color="primary">
      Check out
    </button>
    <div>
      VISA - MASTERCARD - JCB
    </div>
  </div>
</div>