<div fxLayout="row" fxLayoutAlign="space-around start">
  <div fxLayout="column" fxLayoutAlign="start " class="margin-top-3">
    <h1> All Bookings </h1>
    <p *ngIf="bookings.length === 0">You don't have any bookings! </p>

    <mat-card fxLayout="column" 
    fxLayoutAlign="start " 
    class="margin-top-3"  
    *ngFor="let booking of bookings ; let i = index">
      <mat-card-title>
        {{booking.tour.name}}
      </mat-card-title>
      <mat-card-content>
        <div> Ratings: {{booking.tour.rating}} </div>
        <div> Price: {{booking.tour.price}} $ </div>
        <button mat-raised-button (click)="removeTour(i)">Cancel this booking</button>
      </mat-card-content>
    </mat-card>

  </div>

  <div fxLayout="column" fxLayoutAlign="start " class="margin-top-3">
    <mat-card>
      <mat-card-title>
        Payment
      </mat-card-title>
      <mat-card-subtitle>
        Amount: {{amount}} $
      </mat-card-subtitle>
    </mat-card>
    <button mat-raised-button color="primary" class="margin-top-3">
      Check out
    </button>
    <div class="margin-top-3">
      We accept: VISA - MASTERCARD - JCB
    </div>
  </div>
</div>